* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #4743d0, #880868);
}


/* ! Ricerca Pokemon */

.poke-logo {
    height: 150px;
    width: 400px;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
}

.poke-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-search input {
    font-size: 1rem;
    background-color: white;
    padding: 15px 20px;
    border: none;
}

.poke-search input:focus-visible {
    outline: none;
}

.btn-search {
    font-size: 1rem;
    background-color: white;
    padding: 18px 20px;
    border: none;
}

.btn-search i {
    transition: all 0.4s;
}

.btn-search i:hover {
    transform: scale(1.3) rotate(180deg);
    background-color: red;
}


/* ! Card Pokemon */

.poke-box {
    height: 350px;
    width: 250px;
    overflow: hidden;
    border-radius: 30px;
    background-color: rgb(222, 253, 224);
    transition: all 0.4s;
}

.poke-box img {
    transition: all 0.4s;
    overflow: hidden;
}

.poke-box:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.poke-box:hover img {
    transform: scale(1.1);
}


/* ! Button */

.btn-link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 0.4s;
}

.btn-link:hover {
    transform: scale(1.1);
}

.btn-link.scrolled {
    display: block;
}